<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
    <dict>
            <key>PATH</key>
            <string>/sbin:/usr/sbin:/bin:/usr/bin</string>
            <key>RUBYLIB</key>
            <string>/Library/Ruby/Site/1.8</string>
    </dict>
	<key>Label</key>
	<string>net.devco.angelia</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/angelia-spoold</string>
		<string>-f</string>
	</array>
	<key>OnDemand</key>
    <false/>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>ServiceDescription</key>
    <string>Angelia Spool Server</string>
	<key>ServiceIPC</key>
    <false/>
</dict>
</plist>
